@import "../../global.scss";

.navbar {
    padding: 0px 19.6px !important;
    // padding-right: 19.6px !important;
    // padding-left: 19.6px !important;
    .logo {
        &>img {
            @media only screen and (max-width: 991px) {
                max-height: 35px !important;
                
            }
            @media only screen and (max-width: 320px) {
                max-height: 30px !important;
                
            }

        }
    }
}