# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# yarn 3 (.yarn folder)
.pnp.*
.yarn/*
# uncomment when uploading as a final commit (as size of upload is more than 30 MB) 
# !.yarn/patches
# !.yarn/plugins
# !.yarn/releases
# !.yarn/sdks
# !.yarn/versions

# comment or remove it when uploading as a final commit (as size of upload is more than 30 MB)  
.yarnrc.yml

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.gitpod.yml