@import "../../global.scss";

// always add '!important' keyword to css declarations for elements that has some 'Bootstrap' class applied.

// AxilBar's Dropdowns on Left Side
.axil-dropdown {
  max-width: 70px;

  // SCSS for 'axil-dropdown-toggle' when using 'Bootstrap's 'Button' component
  .axil-dropdown-toggle {
    color: var(--color-body) !important;
    padding: 1px 6px !important;

    // Dropdown Toggle's Icon 
    &::after {
      content: "\e917";
      font-family: "Custom Icons";   // (these font-icons are not 'variable-fonts')
      font-weight: 400;   // not required, so can be commented. If changed to 600 or above, the 'icon' will become 'thick' or 'bold'
      margin-left: 2px;
      margin-top: 1px;
    }
  }  

  .axil-dropdown-menu {
    min-width: 6.7rem !important;
    box-shadow: var(--shadow-primary) !important;
    // display: block !important;
    top: -2.5px !important;
    inset: 0px auto auto 0px !important;
    transform: translate3d(0px, 24px, 0px) !important;
    padding: 5px 10px !important;
    border-radius: 4px !important;

    // visibility: hidden !important;
    // opacity: 0 !important;
    // transition: var(--transition) !important;  
    
    .axil-dropdown-item {
      font-size: 14px !important;
      border-radius: 6px !important;
      margin-top: 5px !important;
      padding: 1.6px 10px 2.5px !important;
      align-self: center !important;
      justify-self: center !important;
      &:first-of-type {
        margin-top: 0px !important;
      }
      
      &:hover {
        background-color: var(--color-secondary) !important;
        color: var(--color-white) !important;
        transition: var(--transition) !important;  
      }
    }
  }  
}
// AxilBar's Right Column
.axil-right-column {
  column-gap: 32px !important;
  padding-right: 6px !important;
  
  // AxilBar's Links on Right Side
  .axil-link {
    color: var(--color-body) !important;
    line-height: var(--line-height-b2) !important;
    display: inline-block !important;
  
    &:hover {
      color: var(--color-primary) !important;
      transition: var(--transition) !important; 
    }  
  }
}



// SCSS for 'axil-dropdown-toggle' when not using 'Bootstrap's 'Button' component
// .axil-dropdown-toggle {
//   color: $colorBody !important;
//   padding: 1px 6px !important;
//   background-color: transparent;
//   border: none;
//   font-size: $fontSmall;
// }
