

h1, p {
    font-family: Lato;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  .menu-item {
    position: relative;
    cursor: pointer;
    padding: 10px;
  }
  
  .menu-item.active {
    background-color: #555;
  }
  
  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #555;
    /* display: none; */
    padding: 10px;
  }
  
  /* .menu-item:hover .submenu {
    display: block;
  } */

  