@font-face {
  font-family: "DM Sans";
  font-style: normal;
  src: local("DM Sans"),
    url("./fonts/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
  // Range of font-weights i.e., from 100 to 900 (works for 'variable fonts', in that you can also use '342' or '781' or
  // 'any No.' from the given Range, so a Range of '1 to 1000' can also be given.
  font-weight: 100 900;
}
// added separate '@font-face rule' for 'italic' font-style but there is not need and is normally used by
// giving different 'font-family' name as compared to the 'regular' or 'normal' font-style of that same 'font'.
// it is used directly by giving the 'font-family' name instead of giving the 'font-style' of 'italic' in CSS
// @font-face {
//   font-family: "DM Sans italic";
//   font-style: italic;
//   src: local("DM Sans"),
//     url("./fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
//   font-weight: 100 900;
// }

body {
  margin: 0;
  font-family: DM Sans, "DM Sans italic", sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
